.container-fluid>.row{
    height: calc(100vh - 200px);
}

.container-fluid .row>.left-container{
    height: calc(100vh - 200px);
    background-color: burlywood;
    min-width: 250px;
    
}

.container-fluid .row>.right-container{
    height: calc(100vh - 200px);
    background-color: black;
    overflow: auto;
}

.col-playlist{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

/* debug */
.debug header{
    height: 80px;
    background-color: blue;
}

.debug main{
    height: 1500px;
    background-color: brown;
}

.debug footer{
    height: 200px;
    background-color: orange;
}

.debug #logo{
    height: 80px;
    background-color: cyan;
}

.debug .playlist-nav{
    height: 30px;
    background-color: darkgoldenrod;
}

.debug .playlist{
    height: 120px;
    background-color: darkorange;
}

.debug .user{
    height: 50px;
    background-color: darkorchid;
}

.debug .main-nav{
    height: 30px;
    background-color: darkred;
}

.debug #recently-played{
    height: 150px;
    background-color: darkslategrey;
}

.debug #created-for-you{
    height: 150px;
    background-color: lightpink;
}

.debug #popular-artists{
    height: 150px;
    background-color: blue;
}